.showbook{
    border: 2px solid black;
    background-color: rgb(175, 5, 8);
    height: 820px;
    width: 1200px;
    margin: 30px auto;
    overflow: auto;
    display: flex;
}
.bookinfo{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* align-items: center; */
    height: 820px;
    width: 900px;
    border: 2px solid pink;
}


.showbook img{

    height: 400px;
    width: 290px;
    /* align-self: center;
    justify-items: center; */
    margin: auto 30px;
    border: 2px solid yellow;

}
.showtitle{
    margin: 0 auto;
    font-size: 30px;
    height:100px;
    width:500px;
    border: 2px solid salmon;
}

.showauth{
    /* margin: 0 0 0 60px; */
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: center;
    width: 350px;
    height: 50px;
    border: 2px solid green;
}

.showdes{
    border: 2px solid purple;
    width:700px;
    overflow: auto;
}

.seemore{
    border: 2px solid white;
    height: 30px;
}

.buttonwish{
    border: 2px solid orange; 
    height: 30px;
    font-size: 17px;
}