.showbook{
    border: 2px solid black;
    background-color: rgb(175, 5, 8);
    height: 720px;
    width: 1200px;
    margin: 30px auto;
    /* overflow: auto; */
    display: flex;
}
.bookinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    margin: 10px auto;
    height: 680px;
    width: 850px;
    /* border: 2px solid pink; */
}


.showbook img{
    height: 275px;
    width: 195px;
    margin: auto 30px;
    border: 2px solid #000000;

}
.showtitle{
    text-align: center;
    margin: 2px auto;
    padding-top:10px;
    font-size: 25px;
    height:40px;
    width:715px;
}

.showauth{
    text-align: center;
    padding-top: 15px;
    margin: 2px auto;
    font-size: 18px;
    width: 625px;
    height: 30px;
}

.showdes{
    width: 790px;
    height: 210px;
    margin: 10px auto;
    padding-top: 5px;
    overflow: auto;
    text-align: center;
    font-size: 15px;
}

.seemore{
    color:rgb(225, 225, 205);
    height: 30px;
    margin: 0 auto;
    text-decoration: none;

}

.buttonwish{
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 700;
    margin-top: 245px;
    height: 30px;
    font-size: 12px;
}

@media only screen and (max-width: 1024px) {
    
    .showbook{
        width: 1000px;
    }

    .buttonwish{
        font-size: 18px;
        height: 35px;
        
    }

    .showbook img{
        height: 285px;
    }

    .showtitle{
        font-size: 28px;
    }

    .showauth{
        font-size: 20px;
    }

    .showdes{
        font-size: 18px;
    }

    .seemore{
        font-size: 20px;
    }

}

