.results{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 80vh; */
    margin: 30px auto;
    width: 90vw;
    font-size: 8px;
    align-content: center;
    background-color: rgb(175, 5, 8);
    overflow: auto;
}

.book{
    /* border: 2px solid black; */
    height: 270px;
    width: 140px;
    display: flex; 
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 15px 15px;
}

.book img{
    width: 150px;
    height: 190px;     
}

.book h2{
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
}

@media only screen and (max-width: 1024px) {

    .results{
        /* height: 820px; */
        /* width: 1000px; */
    }
    
}

@media only screen and (max-width: 375px) {

    .results{
       /* height: 300px; */
        width: 365px;
        
      
    }

    .book{
        margin: 2px;
        height: 190px;
        width: 145px;
         
       
    }

    .book img{
        height: 115px;
        width: 90px;
    }

}
