.results{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    height: 820px;
    width: 1300px;
    font-size: 8px;
    align-content: center;
    background-color: rgb(175, 5, 8);
    overflow: auto;
}

.book{
    /* border: 2px solid black; */
    height: 260px;
    width: 170px;
    display: flex; 
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 15px 15px;
}

.book img{
    width: 150px;
    height: 190px;     
}

.book h2{
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
}

@media only screen and (max-width: 1024px) {

    .results{
        height: 820px;
        width: 1000px;
    }
    
    .book{
        overflow: auto;
    }
}

@media only screen and (max-width: 375px) {

    .results{
    
        width: 365px;
      
    }

}
